<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jogar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="notReady" text-center style="margin-top: 5px">
    <strong> Acertos: {{perguntasAcertadas}} </strong> | <strong> Tempo restante: <span *ngIf="showTime">{{tempoPergunta}}s</span> </strong>
  </div>

  <ion-card>
    <ion-card-content style="padding-top: 0px">
      <div *ngIf="!notReady">
        <br>
        <h3>Certifique-se que está pronto, e clique no botão abaixo.</h3>

        <div align="center" padding>
          <button (click)="comecar()" ion-button icon-end color="secondary">
            Começar
            <ion-icon name="play"></ion-icon>
          </button>
        </div>
      </div>

      <div *ngIf="notReady">
        <ion-card-header text-uppercase class="pergunta quebra-linha" style="padding-bottom: 0px">
          {{ perguntaAtual.pergunta }}
        </ion-card-header>

        <br>

        <form [formGroup]="questao">
          <ion-list radio-group formControlName="resposta">
            <ion-item *ngFor="let alternativa of perguntaAtual.alternativas">
              <div ion-button (click)="proximaPergunta(alternativa.value)" class="alternativa-pergunta">
                {{ alternativa.label }}
              </div>
              <!-- <ion-label (click)="proximaPergunta()">{{ alternativa.label }}</ion-label> -->
              <!-- <ion-radio (click)="proximaPergunta()" value="{{ alternativa.value }}"></ion-radio> -->
            </ion-item>
          </ion-list>

          <div align="center">
            <!-- <button [disabled]="!questao.valid" (click)="proximaPergunta()" type="button" icon-end ion-button>
              Próxima
              <ion-icon name="arrow-dropright-circle"></ion-icon>
            </button> -->
          </div>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
